@use "../../assets/styles/base/variables.scss" as *;

.rooms {
    margin: $general-margin;
    padding: $general-padding;
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: $form-gap;
    }
    &__display {
        margin-top: 2rem;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        &-item {
            border: 2px solid $primary-color;
            border-radius: 10px;
            padding: 1rem;
        }
    }
}