@use "../../assets/styles/base/variables.scss" as *;

.rooms {
    margin: $general-margin;
    padding: $general-padding;
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: $form-gap;
    }
}